@model Changarro.Model.tblCat_Cliente

@{
    ViewBag.Title = "VerDetallesCliente";
    Layout = "~/Views/Shared/_Modal.cshtml";
}


<h2 align="center">Detalles del Cliente</h2>

<fieldset disabled>
    <div class="form-row mb-3">

        <div class="col-6">
            <label>Nombre</label>
            <input type="text" id="cNombre" value="@Html.DisplayFor(model => model.cNombre)" name="cNombre" class="form-control" />
        </div>
        <div class="col-6">
            <label>Apellido</label>
            <input type="text" id="cApellido" value="@Html.DisplayFor(model => model.cApellido)" name="cApellido" class="form-control" />
        </div>
        <div class="col-6">
            <label>Número Teléfonico</label>
            <input type="text" id="cTelefono" value="@Html.DisplayFor(model => model.cTelefono)" name="cTelefono" class="form-control" />
        </div>
        <div class="col-6">
            <label>Imagen</label>
            <input type="text" id="cImagen" value="@Html.DisplayFor(model => model.cImagen)" name="cImagen" class="form-control" />
        </div>
        <div class="col-6">
            <label>Fecha de Alta</label>
            <input type="text" id="dtFechaAlta" value="@Html.DisplayFor(model => model.dtFechaAlta)" name="dtFechaAlta" class="form-control" />
        </div>
        <div class="col-6">
            <label>Fecha de Baja</label>
            <input type="text" id="dtFechaBaja" value="@Html.DisplayFor(model => model.dtFechaBaja)" name="dtFechaBaja" class="form-control" placeholder="Este cliente esta activo" />
        </div>

        @section Footer{
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        }
    </div>
</fieldset>