@model Changarro.Model.tblCat_Producto


@{
    ViewBag.Title = "VisualizarProducto";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

@section Titulo{
    <h2>Información</h2>}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Assets/img/iPad2.png" width="120" />
            </div>
            <div class="col-md-9">
                <h2>Producto: @Html.DisplayFor(c => c.cNombre)</h2>
                <h4>Categoría: @ViewBag.cNombreCat</h4>
                <h6>Precio: $@Html.DisplayFor(c => c.dPrecio)</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p><b>Descripción: </b>@Html.DisplayFor(c => c.cDescripcion)</p>
                <p><b>Stock:</b> @Html.DisplayFor(c => c.iCantidad)</p>
            </div>
            <div class="col-md-6">
                <b>Fecha de alta:</b>
                @Html.DisplayFor(c => c.dtFechaAlta)
                <b>Fecha de Baja:</b>
                @Html.DisplayFor(c => c.dfFechaBaja)
            </div>
            <div class="col-md-6">
                <b>Modificado el:</b> @Html.DisplayFor(c => c.dtFechaModificacion)
            </div>
        </div>
    </div>
</div>

@section footer{
    <button type="button" class="btn btn-secondary" data-dismiss="modal" value="candel"> Cerrar</button>
}