@model IEnumerable<Changarro.Model.DTO.CatalogoProductosDTO>
@{
    ViewBag.Title = "VerProductosPorCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area organic-breadcrumb">


    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Productos</h1>
                <nav class="d-flex align-items-center">

                    <a href="#">Productos<span class="ti ti-arrow-right"></span></a>
                    <a href="category.html">@ViewBag.cNombreCategoria</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Categorias</div>
                <ul class="main-categories">

                    @{
                        Html.RenderAction("ColumnaCategorias", "Producto");
                    }

                </ul>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->

            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="ti-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#" class="next-arrow"><i class="ti-arrow-right" aria-hidden="true"></i></a>
                </div>

            </div>
            <!-- End Filter Bar -->
            <!-- Productos -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <!-- single product -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <img class="img-fluid" src="@item.cImagen" alt="" style="width:180px;height:180px;">
                                <div class="product-details">
                                    <h6>
                                        @item.cNombre
                                    </h6>
                                    <div class="price">
                                        <h6>@item.dPrecio</h6>
                                    </div>
                                    <div class="prd-bottom">
                                        @Html.Hidden("iIdProducto", item.iIdProducto)

                                        <a id="btnComprarAhora" class="social-info">
                                            <span class="ti-money"></span>
                                            <p class="hover-text">Comprar</p>
                                        </a>
                                        <a id="btnAgregarCarrito" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">Agregar</p>
                                        </a>
                                        <a class="social-info btnVerDetalles">
                                            <span class="ti-eye"></span>
                                            <p class="hover-text">Ver más</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </section>
            <br />
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">

                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="ti-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#" class="next-arrow"><i class="ti-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Utileria.js"></script>
    <script src="~/Scripts/Inicio/Inicio.js"></script>
}