@model IEnumerable<Changarro.Model.DTO.ProductosCompraDTO>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/compra.css" rel="stylesheet" />
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Compra</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Casa<span class="ti-arrow-right"></span></a>
                    <a href="single-product.html">Compra</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">

                <!--------Seccion domicilio-->
                <div class="col-lg-8">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h4 class="mb-0">
                                    Seleccione domicilio de entrega
                                    <i style="float:right;" class="ti-home"></i>
                                </h4>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div style="float:right;">
                                        <a href="#" data-toggle="modal" data-target="#modalito">Agregar Domicilio</a>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                            @Html.RenderAction("SeleccionDomicilio", "Compra");
                                            <tr>
                                                <td>
                                                    <div class="radion_btn">
                                                        <input type="radio" id="f-option6" name="selector">
                                                        <div class="check"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <h5>Casa</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h5>15G x8a y 8b 196L Vergel 65</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="radion_btn">
                                                        <input type="radio" id="f-option6" name="selector">
                                                        <div class="check"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <h5>Trabajo</h5>
                                                    </div>
                                                </td>
                                                <td id="jump1">
                                                    <h5>Calle 18 2511 Mexico</h5>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <br id="card2" />
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h4 class="mb-0">
                                    Seleccione tarjeta de pago
                                    <a id="flecha2" class="ti-credit-card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="float:right;">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div style="float:right;">
                                        <a href="#" data-toggle="modal" data-target="#modalitoxd">Agregar Tarjeta</a>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                            @Html.RenderAction("SeleccionTarjeta", "Compra");
                                            <tr>
                                                <td>
                                                    <div class="radion_btn">
                                                        <input type="radio" id="f-option6" name="selector">
                                                        <div class="check"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <h5>Principal</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h5>Termina en 5069</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="radion_btn">
                                                        <input type="radio" id="f-option6" name="selector">
                                                        <div class="check"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <h5>Trabajo</h5>
                                                    </div>
                                                </td>
                                                <td id="jump2">
                                                    <h5>Termina en 6078</h5>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br id="card3" />
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h4 class="mb-0">
                                    Revisar compra
                                    <a id="flecha3" class="ti-bag" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="float:right;">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="cart_inner">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="media">
                                                                    <div class="d-flex">
                                                                        <img src="@item.cImagen" alt="">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <p>@item.cNombre</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <h5>@item.iCantidadSeleccion</h5>
                                                            </td>
                                                            <td>
                                                                <h5>$@item.dPrecioTotal</h5>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------Seccion sticky resumen -------->
                <div class="col-12 col-lg-4">
                    <div class="order_box sticky-top-xd">
                        <ul class="list list_2">
                            <li><a href="#">Subtotal (@ViewBag.iTotalProductos artículos) <span>$@ViewBag.dSubTotalPrecio</span></a></li>
                            <li><a href="#">Envió <span>$50.00</span></a></li>
                            <li><a href="#">Total <span>$@ViewBag.dTotalPrecio</span></a></li>
                        </ul>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">He leído y acepto los</label>
                            <a href="#" data-toggle="modal" data-target="#modalito1">términos y condiciones*</a>
                        </div>
                        <a id="btnPago" class="primary-btn" href="#jump1">Método de Pago</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Assets/js/compra.js"></script>
}